* {
    margin: 0;
    padding: 0;
    font-family: arial;
    box-sizing: border-box;
    font-family: Rubik;
}
body{
    background-color: hsl(226, 43%, 10%);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.contener {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin: 1rem;
}
.data-name {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1rem;
}
.card-name {
    background-color: hsl(246, 80%, 60%); 
    display: flex;
    align-items: center;
    padding: 2rem;
    border-radius: .5rem;

    
}
.card-data {
    background-color: hsl(235, 46%, 20%);
    border-radius: .5rem;
    height: 7.5rem;
    padding: 2rem;
    position: relative;
    
}
.name {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}
.card-content {
    border-radius: .5rem;
    height: 10rem;
    width: 100%;
    gap: 1rem;
   
}
.orange {
    background-color: hsl(43, 84%, 65%);
}
.red {
    background-color: hsl(15, 100%, 70%);
}
.blue {
    background-color: hsl(195, 74%, 62%);

}
.green {
    background-color: hsl(145, 58%, 55%);

}
.violet {
    background-color: hsl(264, 64%, 52%);
}
.user-img {
    width: 4.5rem;
    border-radius: 100%;
    border-style: solid;

}
.img-card {
    z-index: 0;
    height: 3.9rem;
    object-fit: none;

}
.ability {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.hours {
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
    position: relative;
    
    
}
strong {
    font-size: 33px;
    font-weight: inherit;
}
h6 {
    font-size: 18px;
    font-weight: bolder;
}
h1 {
    font-size: 1.4rem;
    font-weight: 200;
}
p {
    font-weight: 100;
    opacity: .6;
}
.forreport {
    font-size: .89rem;
}

.icon {
    display: flex;
    justify-content: flex-end;
    padding-right: 2rem;
    position: relative;
    height: 2.5rem;
}
.img-card.violet {
    height: 5rem;
}
.jeremy{
    height: 13rem;
    width: 100%;
}
.cien {
    width: 100%;
    display: contents;
}
.card-data.data-name {
    height: 4.3rem;
}
.img-d {
    width: 5.5rem;
}


@media only screen and (min-width:1440px) {
    body {
        height: 100vh;
    }
    .jeremy {
        width: 31.4%;
        height: 15.2rem;
    }
    .contener {
        justify-content: space-around;
        flex-wrap: nowrap;
        padding: 15rem;
        gap: 1rem;
    }
    
    .card-content {
        width: calc(33% - 1rem);
        display: flex;
        flex-direction: column;
        height: 56%;
        border-radius: 1rem;
        
    }
    .cien {
        display: flex;
        flex-wrap: wrap;
        gap: 1.5rem;
        justify-content: center;
    }
    .hours {
        flex-direction: column;
        align-items: flex-start;
    }
    .card-name {
        flex-direction: column;
        height: 150%;
        gap: 2rem;
        align-items: flex-start;
        border-radius: 1rem;
    }
    h1 {
        font-size: 3rem;
    }
    .name {
        gap: 0;
    }
    .data-name {
        flex-direction: column;
        align-items: flex-start;
        gap: 1rem;
        justify-content: center;
    }
    .card-data.data-name {
        height: 10.9rem;
    }
    strong {
        font-size: 50px;
        font-weight: lighter;
    }
    h6 {
        font-size: 17px;
    }
    p {
        font-size: 15px;
    }
    .card-data {
        border-radius: .9rem;
        height: 86%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .hours {
        gap: .8rem;
    }
    .icon {
        height: 1.7rem;
        padding-right: 1.5rem;
    }
    .highlight {
        font-weight: 100;
        opacity: 1;
    }

}